body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: gray;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
 
nav li a {
  text-decoration: none;
  color: #333;
  font-size: 0.98rem;
  transition: color 0.3s;
}
 
nav li a:hover {
  color: #00b4ff;
}
 
.profile{
    background-color: gray;
    color: whitesmoke;
    text-align: center;
    height: 20%;
    font-size: 0.9rem;
    margin-bottom: 20px;
    border-radius: 15px;
}

.slide-container{
    width: 100%;
    position: relative;
    height: 500px;
    background-color: #575757;
    border-radius: 15px;
}

.slide-container img{
  max-width: 100%;
}
.slide{
    position: absolute;
    animation: moveslide 2.5s linear infinite;
}

@keyframes moveslide{
0%{
    left: 0%;
}
50%{
    left: calc(100% - 200px);
}
100%{
    left: 0%;
    }
}

.self-introduction1{
    background-color: gray;
    color: whitesmoke;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.self-introduction h2{
    text-align: center;
    font-size: 1.5rem;
}

.self-introduction h1{
    font-size: 3rem;
    align-items: center;
}


